img {
  max-width: 100%;
}

header {
  border-bottom: 1px solid;
  margin-top: 1em;
  padding-bottom: 0.5em;
}

footer {
  border-top: 1px solid;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

.container {
  margin: auto;
  max-width: 760px;
}

.right {
  float: right;
}

.indent {
  margin-left: 4em;
}
