img {
  margin: 5px;
  margin-bottom: 25px;
  max-width: 95%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;
}

header {
  border-bottom: 1px solid;
  margin-top: 1em;
  padding-bottom: 0.5em;
}

footer {
  border-top: 1px solid;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

.container {
  margin: auto;
  max-width: 760px;
}

.right {
  float: right;
}

.indent {
  margin-left: 4em;
}
